.top{
    font-size: 10px;
    background-color:#FFF9F3;
    color:#ed4a05;
    padding: 10px 100px;
}
body{
    margin:0;
    padding:0;
    font-family: 'Poppins';
    font-size: small;
}

.photo{
    display: none;
}



.formm{
    display: flex;
    justify-content: space-between;
}

.top h2{
    color:#3E3E3E;
}

.sections{
    height:32px;
    background-color:#FFF9F3;
    display: flex;
    justify-content: space-between;
}

.sections h2{
    font-weight: lighter;
}

#wed{
   color:#EB6D20; 
   border-bottom:solid 4px #EB8426; 
    
   
}
.search{
    border-radius: 50px;
    display: flex;
    background-color: white;
    width: 700px;
    margin-right: 5px;
    align-items: center;
    
}

.dropdown{
    width:154px;
    height:32px;
    margin: 10px;
    border: none;
    background-color: #F5F6F8;
    border-radius: 50px;
    text-align: center;
}

.input-search{
    border: none;

}

.input-search:focus{
    outline: none;
}
.search-icon{
    display: flex;
    padding-left: 350px;
}

.btn{
    width:88px;
    height:48px;
    border-radius: 25px;
    color:white;
    background-color: #EB6D20;
    border:none;
}


.account, .shopping{
    display: flex;
}
.st, .sp, .at, .ap{
    display: flex;
}
.acc-shop{
    display:flex;
}
.sp, .ap{
    width:24px;
    height:24px;
    padding: 10px;
}
.st, .at{
    color:#3E3E3E;
    font-weight: 400px;
    font-size: 14px;
}


.img-row{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}

.img1, .img2, .img3{
    width:400px;
    height: 180px;
    border-radius: 5px;
    
}
.image-banner{
    position: relative;
}
.image-description{
    position: absolute;
    bottom:0;
    left:0;
    color:#FFFFFF;
    padding-left: 10px;
}

.img-row2{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}
    
.chair-div{
   display: flex;
   position: relative;
   background-color: #D3FBD9;
   height:418px;
   width:300px;
}
.chair-text{
    position:absolute;
    bottom:0;
    left:0;
    padding-left:10px;
    padding-bottom:40px
}
.chair-price{
    position: absolute;
    bottom: 0;
    left:0;
    padding:10px;
    
    
    
}
.chair-price p{
    font-weight: 500;
    

}
.chair-img{
    padding: 30px;
}
.heart{
    width:24px;
    height:24px;
    position: absolute;
    top:0;
    right:0;
    padding-top:10px;
    padding-right:15px;
}
.clrtext{
    position: absolute;
    left:0;
    bottom:0;
    padding-left:10px;
    padding-bottom:100px;
}
.colors{
    position: absolute;
    bottom: 0;
    left:0;
    padding-bottom:85px;
    padding-left:10px;
    justify-content: space-between;
}


.p2{
    position:relative;
    display:flex;
    background:#FFE4BD;
    width:300px;
    height:418px;
}

.p2-text{
    position:absolute;
    bottom:0;
    left:0;
    padding-left:10px;
    padding-bottom:35px;

}
.p2-img{
    padding:60px;
}
.p2-price{
    position: absolute;
    bottom: 0;
    left:0;
    padding:10px;
}


.p3{
    position: relative;
    background: #D9ABFD;
    display: flex;
    width:300px;
    height:418px;
}

.p3-img{
    padding: 60px;

}

.p3-text{
    position:absolute;
    bottom:0;
    left:0;
    padding-left:10px;
    padding-bottom:35px;

}

.p3-price{
    position: absolute;
    bottom: 0;
    left:0;
    padding:10px;
}


.p4{
    position: relative;
    background: #FDF0AB;
    display: flex;
    width:300px;
    height:418px;
}
.p4-text{
    position:absolute;
    bottom:0;
    left:0;
    padding-left:10px;
    padding-bottom:35px;
}
.p4-img{
    padding: 60px;
}
.p4-price{
    position: absolute;
    bottom: 0;
    left:0;
    padding:10px;

}



.row3{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
     }

.circle-div1, .circle-div2, .circle-div3{ 
    position: relative;
    background:#F5F6F8;
    height:174px;
    width:424px;
    display: flex;
    width:33%;
}


.circle-head1, .circle-head2, .circle-head3{
    position: absolute;
    top:0;
    left:0;
    padding-top:10px;
    padding-left:10px

}
.circle-img{
    position: absolute;
    top:0;
    right:0;
    padding-top:20px;
    padding-right:20px;
}
.circle-txt{
    position: absolute;
    bottom:0;
    left:0;
    padding-left:10px;
    padding-bottom:30px
}



.polka{
    padding-left:100px;
}

#polka-text1{
    color:#3E3E3E;
}
#polka-text2{
    color:#9A9A9A;
}
.imageset{
    display: flex;
    justify-content: space-between;
    padding-left:20px;
    padding-right:20px;
}
.left, .right{
    padding-top: 25px;
}


.r41,.r42 ,.r43, .r44, .r45, .r46, .r47, .r48{
    position:relative;
    box-shadow: 2px 1px 1px 2px #00000026
}


.r41-txt{
    position:absolute;
    bottom:-10;
    left:0;
    padding-left:24px;
}
.r42-txt{
    position:absolute;
    bottom:-10;
    left:0;
    padding-left:21px;

}
.r43-txt{
    position:absolute;
    bottom:-10;
    left:0;
    padding-left: 20px;

}
.r44-txt{
    position:absolute;
    bottom:-10;
    left:0;
    padding-left: 25px;
}
.r45-txt{
    position:absolute;
    bottom:-10;
    left:0;
    padding-left: 25px;

}

.r46-txt{
    position:absolute;
    bottom:-10;
    left:0;
    padding-left: 25px;

}
.r47-txt{
    position:absolute;
    bottom:-10;
    left:0;
    padding-left: 28px;

}
.r48-txt{
    position:absolute;
    bottom:-10;
    left:0;
    padding-left: 28px;


}
.discover{
    padding-left: 100px;
    padding-top: 50px;
    position: relative;
}
.view{
    color:#EB8426;
    position: absolute;
    display: flex;
    right: 0;
    bottom:0;
    padding-bottom:10px;
    padding-right:90px;
}


.shopping-items{
    display: flex;
    justify-content: space-between;
     }
.item-div{
    box-shadow:0px 0px 4px #00000026;
    position: relative;
    height:290px;
    width:200px;
    display:flex;
}
    
.item-txt{
    position: absolute;
    bottom:0;
    padding-left:10px;
    padding-bottom:50px;
    
}
.item-price{
    position: absolute;
    left:0;
    bottom:0;
    padding-left:10px
}
.item-img{
    width:184px;
    height:184px;
    padding-left:10px;
}

.left2, .right2{
    padding-top: 75px;
}

.sub-headings{
    display:flex;
    justify-content: space-between;
    padding-top:10px;
    padding-left:150px;
    padding-right:160px;
  
}
.heading1,.heading2, .heading3, .heading5{
    text-align: center;
    border-bottom: solid #E9E9E9;
}

.heading4{
    text-align: center;
    border-bottom: solid #EB8426;

}
#Min{
    color:#EB8426;
    border-bottom:#EB8426;
}
.row-4{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
}

.shoe{
    display: flex;
    height:418px;
    width:300px;
    margin-right: 10px;
}

.stand{
    width:300px;
    height:418px;
    background-color: #FBF7D3;
    display: flex;
    position: relative;
}

.stand-txt{
    position:absolute;
    bottom:0;
    left:0;
    padding-left:10px;
    padding-bottom:36px

}

.stand-price{
    position: absolute;
    bottom: 0;
    left:0;
    padding:10px;

}
.stand-img{
    padding:50px;
}

.iphone{
    width:300px;
    height:418px;
    background-color: #FFBDBD;
    display: flex;
    position: relative;

}
.iph-img{
    padding: 50px;
}

.iph-txt{
    position:absolute;
    bottom:0;
    left:0;
    padding-left:10px;
    padding-bottom:36px

}
.iph-price{
    position: absolute;
    bottom: 0;
    left:0;
    padding:10px;

}

.facewash{
    width:300px;
    height:418px;
    background-color: #C0ABFD;
    display: flex;
    position: relative;
}
.fw-img{
    padding:50px;
}
.fw-txt{
    position:absolute;
    bottom:0;
    left:0;
    padding-left:10px;
    padding-bottom:36px

}
.fw-price{
    position: absolute;
    bottom: 0;
    left:0;
    padding:10px;

}
.shopping-items2{
    display: flex;
    justify-content: space-between;
    padding-left:100px;
    padding-right:100px;
     }
.item-div2{
    box-shadow:0px 0px 4px #00000026;
    position: relative;
    height:290px;
    width:200px;
    display:flex;
    }

.banner{
    margin-top:30px;
    background-color: #5959D9;
    margin-left: 100px;
    margin-right:100px;
    display:flex;
    position: relative;
    border-radius:5px;
}
.banner-txt{
    color:#FFFFFF;
    padding-left:60px;
    padding-top:10px;
}
.banner-form{
    padding-top:120px;
    margin-left:-150px;
    padding-bottom: 60px;
    justify-content: center;
    display: flex;

}
.bform{
    display: flex;
    border:none;
    border-radius:25px;
    width:600px;
    padding-left:20px;
    color:#9A9A9A;


}
.subs{
    width:133px;
    height:32px;
    border-radius: 25px;
    color:white;
    background-color: #EB8426;
    border:none;
    margin-top:9px;
    margin-right:9px;
}
.c{
    display: flex;
    border-radius: 50px;
    display: flex;
    background-color: white;
    width: 648px;
    height:48px;
    border:none;
}

.bform:focus{
    outline: none;
}
.text{
    color:#D6D6D6;
    position: absolute;
    bottom:0;
    left:0;
    padding-left:500px;
    text-decoration: underline;
}

.commerce{
    background-color: #F5F6F8;
    margin-top:30px;
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
}
.f1{
    color:#EB6D20;
    padding-top: 20px;
    padding-left:100px;
}
.f2{
    padding-top: 20px;
    padding-left:100px;
    color:#3E3E3E;

}
.icons{
    padding-left: 90px;
    display: flex;
}
.icons div{
    padding-left: 10px;
}
.footer{
    display: flex;
}

#fhead{
    color: #3E3E3E;
}

.footer-side2, .footer-side3, .footer-side4, .footer-side5{
    margin-left:200px;
    margin-top: 20px;
}

.end{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 20px;
}
.scroll{
    display: flex;
    margin-right: 70px;
}
.s{
    display: flex;
}

.mid{
    display: flex;
    justify-content: center;

}
#terms{
    color:#EB8426;
}
.resp-footer{
    display: none;
}

@media screen and (max-width: 1200px){
    
    
    .sections{
        display: none;
    }
    .img-row{
        display:flex;
        flex-wrap: wrap;
        gap:20px;
        justify-content: center;

    }
    .img-row2{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
        justify-content: center;
    }
    .row3{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
        justify-content: center;

    }

    .row3 .circle-div1{
        width:400px
    }
    .row3 .circle-div2{
        width:400px
    }
    .row3 .circle-div3{
        width:400px
    }




    .imageset{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
        justify-content: center;
    }
    .left, .right, .view, .left2 ,.right2{
        display:none;
    }

    .r41, .r42, .r43, .r44, .r45, .r46, .r47, .r48{

        margin-bottom: 30px;
    }

    .shopping-items, .shopping-items2{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
        justify-content: center;

    }
    .sub-headings{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
        justify-content:center;

    }
    .row-4{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
        justify-content:center;

    }
    .text{
        display: none;
    }
    .bform{
        width:150px;
        height: 30px;
        padding-top:10px;
        margin-left: 20px;
        margin-top:70px;
        margin-right: 0px;
    }
    .c{
        width:300px;
        display: block;
        padding-right:50px;
    }
    .banner-txt{
        width:400px;
        height:50px;
    }
    .subs{
        width:350px;
        margin-left: -0px;
        margin-top:20px;
    }
    .footer{
        justify-content: center;
        width:100%;
        margin-left: -100px;


    }
    .footer-side2, .footer-side3, .footer-side4, .footer-side5{
        margin-left: 100px;
    
    }


   

   
   .dropdown{
    height: 20px;
   }
   .formm{
    display: block;
   }
   .btn{
    width:200px;
    height: 40px;
    margin-top: 5px;
    display: none;
   }
   .search-icon{
    margin-left: 375px;
   }   
   .top{
    display: block;
    }
   
    .dropdown{
    height: 30px;;
    }
    .search{
        width:1100px;
        height:40px;
        align-items: center;
    }

    .input-search{
        display: block;
    }

    .top{
        padding-left: 20px;}

    .at{
        margin-top: -80px;

        }
    .ap{
        margin-top: -80px;
        padding-left: 850px;
        }

    .sp,.st{
        margin-top:-81px;
        }

   
}



@media screen and (max-width: 500px){

    .img-row{
        display:block;
        margin-left:-50px;
    }
    .image-banner{
        margin-bottom: 25px;
    }
    .body{
        width:100px;
    }
    
    .dropdown, .at, .st,.btn{
        display: none;
    }
    .search{
        width:450px;
        height:30px;
        align-items: center;
    }

    .input-search{
        display: block;
    }
    .top{
        padding-left: 20px;
    }
    .sections{
        display: none;
    }
    .formm{
        display: block;
    }
    .search-icon{
        margin-left: -70px;
    }

    .ap{
        margin-top: -81px;
        margin-left:-500px
    }
    .sp{
        margin-top:-81px;
    }
    .img-row2{
        display:block;
    }
    .chair-div, .p2, .p3, .p4{
        width:400px;
        margin-left: -50px;
        margin-bottom: 25px;
    }
    .chair-img, .p2-img, .p3-img, .p4-img{
        padding: 85px;
    }

    .row3{
        display:block;
    }
    .circle-div1, .circle-div2, .circle-div3{
        width:400px;
        height:300px;
        margin-left: -50px;
        margin-bottom: 25px;
        position: relative;
    }
    .circle-head1{
        position: absolute;
        padding-top:155px;
        padding-left:130px;
        text-align: center;
    }
    .circle-head2{
        position: absolute;
        padding-top:150px;
        padding-left:110px;
        text-align: center;
    }
    .circle-head3{
        position: absolute;
        padding-top:150px;
        padding-left:155px;
        text-align: center;
    }



    .circle-img{
        position:absolute;
        padding-right: 150px;
        padding-top:30px;


    }
    .circle-txt{
        position: absolute;
        bottom: 0;
        left:0;
        padding-left: 90px;
        padding-bottom: 10px;
        text-align: center;

    }
    .polka{
        width:400px;
        margin-left: -50px;
        margin-bottom: 25px;

    }

    .left,.right, .view{
        display:none;
    }
    .imageset{
        display:block;
    }
    .r41, .r42, .r43, .r44, .r45, .r46, .r47, .r48{
        width:130px;
        margin-left: 125px;
        margin-bottom: 45px;
        padding-right: -200px;

    }
    .discover{
        width:400px;
        margin-left: -50px;
        margin-bottom: 25px;

    }
    .left2, .right2{
        display: none;
    }
    .shopping-items{
        display: block;
        width:400px;
        margin-left: 125px;
        margin-bottom:25px;
    }
    .item-div{
        margin-bottom:25px;
    }

    .sub-headings{
        display: block;
        width:400px;
        margin-left: -120px;
        margin-bottom: 25px;

    }
    .row-4{
        display: block;
    }
    .shoe{
        margin-left: -20px;
        padding-bottom: 25px;

    }
    .stand, .iphone, .facewash{
        margin-bottom: 25px;
        margin-left: -10px;
    }

    .shopping-items2{
        display: block;
    
        margin-left: 25px;
        margin-bottom:25px;
    }
    .item-div2{
        margin-bottom: 25px;
    }
    .banner{
        width:400px; 
        height: 300px;
        margin-left:40px;  
        padding-right: 25px;
        margin-left: 30px;     
    }
    
    .bform{
        width:150px;
        height: 30px;
        padding-top:10px;
        margin-left: 20px;
        margin-top:70px;
        margin-right: 0px;
    }
    .c{
        width:300px;
        display: block;
        padding-right:50px;
    }
    .banner-txt{
        width:400px;
        height:50px;
    }
    .subs{
        width:350px;
        margin-left: -0px;
        margin-top:20px;
    }

    .text{
        display:none;
    }
    .commerce{
        height:70px;
        text-align: center;
        padding-top: 35px;
        padding-right:25px;
    }
    .footer, .end{
        display: none;
    }

    .resp-footer{
        display: block;
    }

    .drop1{
        margin-top: 30px;
        background-color:#F5F6F8;
        border-radius: 50px;
        width:400px;
        border: none;
        height: 48px;
    
        padding-left: 20px;
        margin-left: 50px;
        margin-bottom: 20px;

    }
    .dropy{
        background-color:#F5F6F8;
        border-radius: 50px;
        width:400px;
        border: none;
        height: 48px;
        margin-top: 10px;;
        padding-left: 20px;
        margin-left: 50px;

    }
    .dropx{
        margin-top: 30px;
        background-color:#F5F6F8;
        border-radius: 50px;
        width:400px;
        border: none;
        height: 48px;
    
        padding-left: 20px;
        margin-left: 50px;
        margin-bottom: 10px;
    }

    .drop2{
        background-color:#EB8426;
        border-radius: 50px;
        width:400px;
        border: none;
        height: 48px;
        color: white;
        padding-left: 20px;
        margin-left: 50px;
    }
    .resp-footer p{
        padding-left: 70px;
        padding-top: 20px;
        border-bottom: 1px solid #E9E9E9;  
    }

    .icons2{
        padding-left: 90px;
        display: flex;
        margin-top:10px;

    }
    .icons2 div{
        padding-left: 15px;
        margin-left: 20px;
    }
    .bot-txt{
        padding-left: 65px;
    }
    }








    



    







    
















